/* GENERAL STYLING */

body {
    background: white;
    font-size: 100%;
    text-align: center;
    margin: 0 auto;
}

h1 {
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
}

/* CARD SET STYLING */

.card {
    display: flex;
    justify-content: center;
    border: solid 1px #000;
    width: 35%;
    margin:  0 auto;
    border-radius: 2%;
    padding: 3rem 0 3rem 0;
    box-shadow: 5px 5px 5px 0px rgba(75,90,88,0.75);
    
    
}



.cardSet p{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
}


.button{
  margin: 2rem;
  border: solid 1px;
  border-radius: 10%;
}








/*FLIP ANIMATION*/

  
  @keyframes flip {
    from {
      -webkit-transform: perspective(100px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -360deg);
      transform: perspective(600px)  translate3d(0, 0, 0) rotate3d(0, 1, 0, -180deg);
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
  
    50% {
      -webkit-transform: perspective(100px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -170deg);
      transform: perspective(600px)  translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
  }
  

  @keyframes reFlip {
    from {
      -webkit-transform: perspective(100px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -360deg);
      transform: perspective(600px)  translate3d(0, 0, 0) rotate3d(0, 1, 0, -180deg);
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
  
    50% {
      -webkit-transform: perspective(100px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
        rotate3d(0, 1, 0, -170deg);
      transform: perspective(600px)  translate3d(0, 0, 150px)
        rotate3d(0, 1, 0, -170deg);
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
    }
  }
  
  
.card {
    max-width: 30%;
}


/* tooltip */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
